{% raw %}
  <script id="member-template-info" type="x-tmpl-mustache">
    <div class="front">
    </div>
    <div class="back">
      <div>
         <div>
            <div class='col-sm-12 member-text member-text-large'>
                {{ member.first_name }} <br/> {{ member.last_name }}
            </div>
            <div class='col-sm-12 margin-top member-text member-text-mid'>
                {{ member.university }} <br> {{ member.year }}
            </div>
        </div>
      </div>
    </div>
  </script>
{% endraw %}
