{% raw %}
  <script id="member-template-vote" type="x-tmpl-mustache">
    <div class="front">
      <div>
      </div>
    </div>
    <div class="back">
      <div>
        <div class='col-sm-12 margin-top-20 center'>
            <i class="fa fa-eye fa-3x black"></i>
        </div>
        <div class='col-sm-12 center nopadding member-text member-text-extra-large'>
          <div class="member_rank" data-id="{{ member.id }}">
            {{ member.rank }}
          </div>
        </div>
      </div>
    </div>
  </script>
{% endraw %}