{% raw %}
  <script id="member-template-vote" type="x-tmpl-mustache">
    <div class="front">
      <div>
      </div>
    </div>
    <div class="back">
      <div>
        <div class='col-sm-12 margin-top center'>
            <i class="fa fa-eye fa-3x black"></i>
        </div>
        <div class='col-sm-12 center nopadding member-text member-text-mid'>
           Views
        </div>
        <div class='col-sm-12 center nopadding member-text member-text-large'>
            {{ member.rank }}
        </div>
      </div>
    </div>
  </script>
{% endraw %}