html, body {
    min-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

body {
    background: url('/static/img/pic6.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    padding: 0;
    margin: 0;
}

.grid {
    background: transparent;
    border: 1px solid #300;
    border-width: 1px 0 0 1px;
    z-index: -1;
    position: absolute;
    top: 0;
}

.cell{
    opacity: 0.6;
    transition: background 2s;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
    float: left;
    display: block;
}

.cell:hover{
    background: black;
    opacity: 0.7;
    transition: background 0.25s;
}

.logo {
    z-index: 500;
    font-size: 30px;
    color: white;
    font-family: 'Courier New';
    margin-left: 10px;
    margin-top: 20px;
}

.source-code {
    z-index: 500;
    font-size: 10px;
    color: white;
    font-family: 'Courier New';
    margin-left: 10px;
}

.source-code a {
    text-decoration: none;
    color: white;
}

.member1 {
    color: #F25C5C;
}

.member2 {
    color: #2FC26A;
}

.member3 {
    color: #FFBB40;
}

.member4 {
    color: #53A3CF;
}

.member_cell_1 {
    background-color: #F25C5C;
    opacity: 1;
}
.member_cell_1:hover {
    background-color: #F25C5C;
    opacity: 1;
    border: 0px solid #F25C5C;
    border-width:0;
    cursor: pointer;
}

.member_cell_2 {
    background-color: #2FC26A;
    opacity: 1;
}
.member_cell_2:hover {
    background-color: #2FC26A;
    opacity: 1;
    border: 0px solid #2FC26A;
    border-width:0;
    cursor: pointer;
}

.member_cell_3 {
    background-color: #FFBB40;
    opacity: 1;
}
.member_cell_3:hover {
    background-color: #FFBB40;
    opacity: 1;
    border: 0px solid #FFBB40;
    border-width: 0;
    cursor: pointer;
}

.member_cell_4 {
    background-color: #53A3CF;
    opacity: 1;
}
.member_cell_4:hover {
    background-color: #53A3CF;
    opacity: 1;
    border: 0px solid #53A3CF;
    border-width: 0;
    cursor: pointer;
}

.member_number {
    color: white;
    font-size: 45px;
    border-width: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    float: right;
    text-align: right;
    margin-right: 5px;
}

.member_name {
    color: white;
    font-size: 18px;
    border-width: 0;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    float: left;
}

.member-image {
    width: 100%;
    height: 100%;
}

.member-text {
    margin-top: 5px;
    color: black;
}

.member-text-large {
    font-size: 20px;
}

.member-text-mid {
    font-size: 16px;
}

.center {
    margin-top: 10px;
    text-align: center;
}

.nopadding {
    padding: 0;
    margin: 0;
}
.margin-top {
    margin-top: 10%;
}
.margin-top-20 {
    margin-top: 20%;
}
.black {
    color: black;
}
.link-card {
    z-index: 100;
}

.popover{
    max-width:500px; /* Max Width of the popover (depending on the container!) */
    width: 200%;
    overflow: visible;
    border-radius: 0;
    border-width: 3px;
}

.popover-title {
    font-size: 14px;
    border-width: 0;
    border-radius: 0;
    color: white;
    font-family: 'Courier New';
    font-weight: bold;
}

.popover-content {
    font-size: 14px;
    font-family: 'Courier New';
    background-color: whitesmoke;
}

.member-text-extra-large {
    font-size: 35px;
}

.custom-popover-1 {
    border-color: #F25C5C;
    background-color: #F25C5C;
}
.custom-popover-1 .popover-title {
    background-color: #F25C5C;
}

.custom-popover-2 {
    border-color: #2FC26A;
    background-color: #2FC26A;
}
.custom-popover-2 .popover-title {
    background-color: #2FC26A;
}

.custom-popover-3 {
    border-color: #FFBB40;
    background-color: #FFBB40;
}
.custom-popover-3 .popover-title {
    background-color: #FFBB40;
}

.custom-popover-4 {
    border-color: #53A3CF;
    background-color: #53A3CF;
}
.custom-popover-4 .popover-title {
    background-color: #53A3CF;
}

.hover-expand:hover {
    font-size: 3.3em;
}

.full {
    height: 100%;
    width: 100%;
}