<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hackaton</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
  <div class="logo">
    <span class="team">team</span>
    <span>_</span>
    <span class="member1">01.</span>
    <span class="member2">02.</span>
    <span class="member3">03.</span>
    <span class="member4">04</span>
  </div>


  {% raw %}
    <script id="member-template" type="x-tmpl-mustache">
      <div class="front"> 
        <div>
          <div class='col-sm-12 member_number pull-right'>
            0{{ member.id }}
          </div>
          <div class='col-sm-12 member_name'>
            {{ member.first_name }}
            <br/>
            <b>{{ member.last_name }}</b>
          </div>      
          </div>    
      </div>
      <div class="back">
       <img class='member-image' src="/static/img/member_{{ member.id }}.jpg" />
      </div> 
    </script>
  {% endraw %}

  {% raw %}
    <script id="member-template-info" type="x-tmpl-mustache">
         <div>
          <div class='col-sm-12 member-text member-text-large'>
              {{ member.first_name }} <br/> {{ member.last_name }}
          </div>
          <div class='col-sm-12 margin-top member-text member-text-mid'>
              23 <br> {{ member.university }} 
          </div>
        </div>
    </script>
  {% endraw %}

  {% raw %}
    <script id="member-template-links" type="x-tmpl-mustache">
      <div>
          <div class='col-sm-12 center nopadding margin-top'>
            <a href=#><i class="fa fa-envelope-o fa-3x black"></i></a>
          </div>

          <div class='col-sm-12 center nopadding margin-top'>
            <div class='col-sm-6 center'>
                <a href="#"><i class="fa fa-linkedin-square fa-3x black"></i></a>
            </div>   
            <div class='col-sm-6 center'>
                <a href="#"><i class="fa fa-github-square fa-3x black"></i></a>
            </div> 
          </div>
      </div>
    </script>
  {% endraw %}

  <div class="container">
  </div>

<!--     {% for person in people: %}
      <p>{{ person.first_name }}</p>
      <p>{{ person.last_name }}</p>
      <p>{{ person.university }}</p>
      <p>{{ person.rank|int }}</p>
      <form method="post">
        <input type="hidden" name="id" value={{ person.id }}>
        <button type="submit" name="vote" value="up">Upvote</button>
        <button type="submit" name="vote" value="down">Downvote</button>
      </form>
      <hr>
    {% endfor %} -->

    <script src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jqueryFlip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
